@import '~antd/es/style/themes/default.less';
.menuWrapper {
  min-height: 680px;
  background: #fff;
  .title {
    display: flex;
    margin: 0 20px;
    .titleAdd {
      border-radius: 5px;
    }
    .titleName {
      color: black;
      font-weight: 'bold';
      font-size: 18px;
    }
  }
  .item {
    display: block;
    margin: 0 20px;
    .itemList {
      width: 100%;
    }
  }
  .active {
    border-left: 2px solid #1890ff;
  }
}
